APP_DEBUG=False
APP_HOST=0.0.0.0
APP_PORT=8000

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=t-mkkl-payment-processing
DB_HOST=postgres
DB_PORT=5432

APP_RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
